.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 7px 20px;
  // background-color: #ffb400;
  // color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  text-indent: 15px;
  border: 2px solid #ffb400;
  border-radius: 30px;
}
.buttonDownload.dark.btn-download {
  color: white;
}
.buttonDownload.light.btn-download {
  color: #111;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 1px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  // border-color: #111 !important;
}

.buttonDownload:hover:after {
  // border-top-color: #111;
  animation-play-state: running;
}
.buttonDownload.light.btn-download:hover:before {
  border-color: #111;
  // border-top-color: #111;
}
.buttonDownload.light.btn-download:hover:after {
  border-top-color: #111 !important;
}
.buttonDownload.dark.btn-download:hover:before {
  border-color: white;
}
.buttonDownload.dark.btn-download:hover:after {
  border-top-color: white !important;
}

@keyframes downloadArrow {
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0.4;
  }
}
